body{
    background-image: url("./images/sea.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    background-color: #1b5a80;
    display: flex;
}

#logo{
    width: 5%;
    height: 5%;
    padding-right: 2%;
    display: inline;
}

#text{
    float:right;
    font-size: 100%;
    padding-top: 0.8%;
    padding-left: 2%x;
    color: aliceblue;
}

#container{
    display: inline;
    float: left;
    border: solid;
    border-color: #1b5a80;
    color:#1b5a80;
    width: 40%;
    margin: 2%;
    background-color: aliceblue;
    padding: 5%;
    margin-top: 10%;
    margin-right: 5%;
}

#signup{
    display: inline;
    float:right;
    border:solid;
    width: fit-content;
    padding:2%;
    color:aliceblue;
    background-color: #1b5a80;
    margin-top: 6%;
    margin-right: 5%;
}
#form{  
    padding: 10%;
    color: aliceblue;
    border: transparent;
}

